body {
    background-color: #D8E2DC;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: #D8E2DC;
}

.navbar a {
    color: #9D8189;
}

.jumbotron {
    background-color: #F4ACB7;
    margin-top: 50px;
}

.test-col {
    border: solid .5px black;
    border-radius: 3px;
    margin: 3px;
    padding: 10px;
}